<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Include global resources (CSS and JS links) -->
    <th:block th:replace="blocks/global-resources :: global-resources"></th:block>

    <title>Создание резюме</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <form class="mt-3" method="post" th:action="@{/candidates/create}">
            <div class="mb-3">
                <label class="form-label" for="name"><b>Имя</b></label>
                <input class="form-control" id="name" name="name" placeholder="Ваше имя" type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description"><b>Описание</b></label>
                <textarea class="form-control" id="description" name="description" placeholder="Опишите резюме" rows="25"></textarea>
            </div>
            <div class="mb-3 row">
                <div class="col-6"></div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6"><a class="btn btn-danger w-100" th:href="@{/candidates}">Отмена</a></div>
                        <div class="col-6">
                            <button class="btn btn-primary w-100" type="submit">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>