<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Include global resources (CSS and JS links) -->
    <th:block th:replace="blocks/global-resources :: global-resources"></th:block>

    <title>Список кандидатов</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <div class="row">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light bg-gradient">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="candidate: ${candidates}">
                    <td th:text="${candidate.id}"></td>
                    <td>
                        <div class="d-flex align-items-center">
                            <i class="bi bi-person-circle"></i>
                            <div class="ms-3">
                                <p class="fw-bold mb-0" th:text="${candidate.name.toUpperCase()}"></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-0" th:text="${candidate.description.length() > 30 ? candidate.description.substring( 0, 30) + '...' : candidate.description}"></p>
                    </td>
                    <td>
                        <p class="fw-normal mb-0" th:text="${candidate.creationDate}"></p>
                    </td>
                    <td>
                        <a th:href="@{/candidates/{candidateId}(candidateId=${candidate.id})}">ИЗМЕНИТЬ</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>


