<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Include global resources (CSS and JS links) -->
    <th:block th:replace="blocks/global-resources :: global-resources"></th:block>

    <title>Список вакансий</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <div class="row">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light bg-gradient">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Доступно</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vacancy: ${vacancies}">
                    <td th:text="${vacancy.id}"></td>
                    <td>
                        <div class="d-flex align-items-center">
                            <img
                                    th:src="@{/files/{fileId}(fileId=*{vacancy.fileId})}"
                                    alt="user"
                                    style="width: 24px; height: 24px"
                                    class="rounded-circle"
                            />
                            <div class="ms-3">
                                <p class="fw-bold mb-0" th:text="${vacancy.title.toUpperCase()}"></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-0" th:text="${vacancy.description.length() > 30 ? vacancy.description.substring( 0, 30) + '...' : vacancy.description}"></p>
                    </td>
                    <td>
                        <p class="fw-normal mb-0" th:text="${vacancy.creationDate}"></p>
                    </td>
                    <td><span><i class="bi" th:classappend="${vacancy.visible} ? 'bi-check-square' : 'bi-square'"></i></span></td>
                    <td>
                        <a th:href="@{/vacancies/{vacancyId}(vacancyId=${vacancy.id})}">ИЗМЕНИТЬ</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>
